.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s forwards;
    min-width: 15px;
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.text-animate-hover {
    min-width: 15px;
    display: inline-block;
    animation-fill-mode: both;
    -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    

    &:hover {
        animation: rubberBand 0.9s ease-in-out, ;
        color: rgb(76, 169, 236);
        cursor: default;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

@for $i from 1 through 39 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 12}s;
    }
}