.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 5s forwards;
    min-width: 15px;
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.text-animate-hover {
    min-width: 15px;
    display: inline-block;
    animation-fill-mode: both;
    -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    

    &:hover {
        animation: jumpNspin 0.6s alternate;
        color:rgb(218, 113, 68);
        cursor: default;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

@for $i from 1 through 100 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 12}s;
    }
}

@keyframes jumpNspin {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    20% {
        transform: translateY(0px) rotate(50deg);
    }
    
    40% {
        transform: translateY(-30px) rotate(100deg);
    }

    50% {
        transform: translateY(-30px) rotate(180deg);
    }
    
    100% {
        transform: translateY(0px) rotate(360deg);
    }
}