.nav-bar {
    background: #181818;
    width: 110px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
}

.nav-bar .logo {
    display: block;
    padding: 8px 0;
    opacity: 70%;

    &:hover {
        opacity: 1;
    }
}

.nav-bar .logo img {
    display: block;
    margin: 8px auto;
    width: 90px;
    height: auto;
    margin-bottom: -10px;

    &.profile-logo{
        width: 65px;
        border-radius: 50px;
        margin-top: 15px;
    }
}

.nav-bar nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 40%;
    margin-top: -120px;
    width: 100%;

    #link {
        margin: 20px;
        
        font-size: 23px;
        display: block;
        line-height: 51px;
        height: 51px;
        position: relative;
        text-decoration: none;

        .icon {
            color: #c61f1f71;
        }

        &:hover {
            color: #ec5c5c;
            svg {opacity: 0;}

            &::after{
                opacity: 1;
            }
        }

        &::after {
            font-size: 17px;
            font-weight: 800;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            letter-spacing: 2px;
            text-align: center;
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            opacity: 0;
            transition: all 0.3s ease-in;
        }

        &:first-child {
            &::after {content: 'Home';}
        }

        &:nth-child(2) {
            &::after {content: 'About';}
        }

        &:nth-child(3) {
            &::after {content: 'Skill';}
        }

        &:nth-child(4) {
            &::after {right: 7px; content: 'Projects';}
        }

        &:nth-child(5) {
            &::after {right: 5px; content: 'Contact';}
        }

        &:last-child {
            &::after {content: 'Hobbies';}
        }
    }
}

.nav-bar ul {
    position: absolute;
    bottom: 20px;
    width:100%;
    display: inline-block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
        a {
            color: aliceblue;
            padding: 10px 0;
            display: inline-block;
            font-size: 20px;

            &:hover {
                color:rgb(21, 121, 137);
            }
        }
    }
}