$codeColor: #8fe3ed;

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags {
    bottom: auto;
    top: 35px;
}

.tags {
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 160px;
    font-size: 18px;
}

.bottom-tag-html {
    margin-left: -20px;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    z-index: 1;
    animation: fadeIn 1s 0.5s forwards;
}