@import '../Layout/index';
@import url('https://fonts.googleapis.com/css?family=Poppins');

.about-page {
    display: flex;
    left: 10%;
    .text-zone {
        flex:50%;
        position: relative;
        max-height: 90%;

        h1 {
            font-size: 100px;
            color: wheat;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 10px;
            font-family: 'Coolvetica', sans-serif;
        }
        .info{
            animation: fadeIn 1s backwards;
            animation-delay: 2s;
            width: 70%;
            p{
                font-size: 15px;
                color: whitesmoke;
                font-family: sans-serif;
                font-weight: 300;
                min-width: -webkit-fill-available;
                min-width: -moz-fit-content;
                min-width: fit-content;
                animation: fadeInUp 1s 2s forwards;
            }
        }
        
    }

    .text-sphere {
        flex:50%;
        position: relative;
        top: 30%;
        left: -10%;
        width: auto;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;

        .skill-lable {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h1{
                font-size: 60px;
                font-weight: bold;
                text-decoration: underline;
                color: #feffa7;
            }
        }

        .tagcloud {
            display: inline-block;
        }

        .tagcloud--item{
            color: #95fbff;
            font-weight: bolder;
            font-size: 40px;
            
            &:hover {
                color: #ff6347;
                cursor: pointer;
            }
        }
    }
    
}

