@import '../Layout/index';

.about-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 30%;
        transform: translateY(-50%);
        width: 100vw;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        h1 {
            font-size: 100px;
            color: wheat;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 10px;
            font-family: 'Coolvetica', sans-serif;
        }
        .info{
            animation: fadeIn 1s backwards;
            animation-delay: 2s;
            p{
                font-size: 15px;
                color: whitesmoke;
                font-family: sans-serif;
                font-weight: 300;
                min-width: -webkit-fill-available;
                min-width: -moz-fit-content;
                min-width: fit-content;
                animation: fadeInUp 1s 2s forwards;
            }
        }
        
    }
}

