.dashboard_home {
    position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .signOut {
            position: absolute;
            top: 95px;
            padding: 7px;
            border-radius: 15px;
            cursor: pointer;
        }

        h1 {
            font-size: 50px;
        }
        
        form {
            display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input, textarea {
            font-size: 20px;
            padding: 10px;
            margin: 5px;
            border-radius: 15px;
            border: 1px solid;
            opacity: 0.7;
            align-self: stretch;

            &:hover {
                opacity: 0.9;
            }
        
        }

        button {
            
            font-size: 20px;
            padding: 10px;
            border-radius: 15px; 
            width: 200px;
            cursor: pointer;
            background: brown;
            color: wheat;
            opacity: 0.4;
            border: 0;
            font-weight: 600;

            &:hover {
                background: rgb(255, 42, 77);
                color: rgb(243, 239, 231);
                font-weight: 600;
                opacity: 0.7;
            }
        }
        }
}