html {
  font-size: 62.5%;
}


body {
  margin: 0;
  font-family: 300 11px/1.4 'Helvetica Neue', 'sans-serif'; /* (font-weight, font-size/line-height, font-family), (fallback font) */
  color: white;
  background: url('./assets/images/cityPixelBG.gif') no-repeat center center fixed;
  background-size: cover;
  display: block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
